# ==========================
# Visual Studio & VS Build
# ==========================
.vs/
*.user
*.suo
*.cache
*.dbmdl

# Backend build artifacts
backend/Keepshot/Keepshot.Api/bin/
backend/Keepshot/Keepshot.Api/obj/

# ==========================
# Ignore generated images (screenshots)
# Keep the folder, ignore files inside
# ==========================
backend/Keepshot/Keepshot.Api/wwwroot/screenshots/*
!backend/Keepshot/Keepshot.Api/wwwroot/screenshots/.gitkeep

# ==========================
# Ignore temp FFmpeg files
# Keep the folder
# ==========================
backend/Keepshot/Keepshot.Api/temp/*
!backend/Keepshot/Keepshot.Api/temp/.gitkeep
backend/Keepshot/Keepshot.Api/ffmpeg

# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# System / OS Files
# ==========================
Thumbs.db
.DS_Store
