:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #4c5a73;
  background-color: #f7f8ff;

  --primary: #6c82ff;
  --primary-light: #e9edff;
  --text-main: #4c5a73;
  --border-soft: #dde3f0;
  --bg: #f7f8ff;
  --radius-lg: 16px;
  --radius-md: 12px;
  --shadow-soft: 0 10px 30px rgba(16, 44, 112, 0.08);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}
